@import url('https://fonts.googleapis.com/css2?family=Caladea:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

/* body font: Caladea */
/* heading font: Josefin Sans Light */

body {
  background: #FEFDFE;
  font-family: Caladea;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #225B4F;
}



/* HEADER */

#header {
  position: absolute;
width: 1030px;
height: 109px;
left: 206px;
top: 0px;
}

#siteTitle {
  position: absolute;
  left: 36.8%;
  right: 8.54%;
  top: 27.52%;
  bottom: 0%;

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 11px;
  /* or 21% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}



/* NAVIGATION */

#navigation {
  position: absolute;
  width: 271px;
  height: 551px;
  left: calc(50% - 271px/2 - 378.5px);
  top: 109px;

}

.navButton {
  Width: 271px;
  Height: 173.62px;

  line-height: 130%; /* identical to box height, or 23px */
  text-align: center;

  background: none;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
}

.insideNavButton {
  padding: 30px;
  margin: 0 auto;

  position: absolute;


}

/* for dev only */
.selected{
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}

#authButton {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 67.99%;
}

#authButton.auth {
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}

#viewWorldsButton {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 33.82%;
  bottom: 34.54%;
}

#viewWorldsButton.viewWorlds {
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}

#newWorldButton {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 67.63%;
  bottom: 0%;
}

#newWorldButton.newWorld {
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}




/* FOOTER */

#footer {
  position: absolute;
  width: 1030px;
  height: 96px;
  left: calc(50% - 1030px/2 - 1px);
  top: 660px;
}

#buttonNavigation {
  position: absolute;
  left: 48.83%;
  right: 20.95%;
  top: 18.75%;
  bottom: 66.42%;

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  /* or 13px */

  text-align: center;
  text-transform: uppercase;
}

.buttonHoverText {
  display: none;

  position: absolute;
  /* left: 13.18%; */
  right: 80%;
  top: 217.75%;
  bottom: -293.36%;

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;

}

#linktreeButton {
  position: absolute;
  left: 0%;
  right: 95.43%;
  top: 100%;
  bottom: -100%;
  border-radius: 100%;

  color: #478274;
  background: #478274;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#linktreeButton:hover .buttonHoverText {
  display: block;
  /* left: 0%; */
  /* right: 95.43%; */
  top: 217.75%;
  bottom: -293.36%;
}

#githubButton {
  position: absolute;
  left: 23.86%;
  right: 71.57%;
  top: 100%;
  bottom: -100%;
  border-radius: 100%;

  color: #95A090;
  background: #95A090;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#githubButton:hover .buttonHoverText {
  display: block;
}

#tayMadeButton {
  position: absolute;
  left: 47.71%;
  right: 47.71%;
  top: 100%;
  bottom: -100%;
  border-radius: 100%;

  color: #F48B7C;
  background: #F48B7C;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#tayMadeButton:hover .buttonHoverText {
  display: block;
}

#linkedInButton {
  position: absolute;
  left: 71.57%;
  right: 23.86%;
  top: 100%;
  bottom: -100%;
  border-radius: 100%;
  
  color: #9AD3AE;
  background: #9AD3AE;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#linkedInButton:hover .buttonHoverText {
  display: block;
}

#contactButton {
  position: absolute;
  left: 95.43%;
  right: 0%;
  top: 100%;
  bottom: -100%;
  border-radius: 100%;

  color: #FFB470;
  background: #FFB470;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#contactButton:hover .buttonHoverText {
  display: block;
}



/* CONTENT */

.bodyDiv {
  position: absolute;
  width: 742px;
  height: 551px;
  left: 34.31%;
  right: 14.17%;
  top: 12%;
  bottom: 26.78%;

  background: url(public/bodyDiv.png);
  background-size: cover; 
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 3px;
}





/* HOME */

.logo{
  content: url(public/logo.png);
  margin: 0 auto;
}

#homeLogo {
  position: absolute;
  width: 93px;
  height: 83px;
  left: 324px;
  top: 26px;
}

#homeQuote {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 21.96%;
  bottom: 50.45%;

  background: #225B4F;
}

#homeQuoteText {
  width: 578px;
  left: calc(50% - 578px/2);
  top: 21.96%;
  bottom: 52.45%;

  font-family: Caladea;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  line-height: 130%;

  display: inline-block;
  align-items: center;
  text-align: center;

  color: #FEFDFE;
}

#homeBodyText {
  position: absolute;
  width: 664px;
  height: 252px;
  left: 39px;
  top: 286px;

  color: #225B4F;
}



/* Sign In / Edit Account */

#signInLogo {
  position: absolute;
  left: 43.67%;
  right: 43.8%;
  top: 19.42%;
  bottom: 65.52%;
}

.signInDiv {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37.21%;
  bottom: 37.21%;

  background: #225B4F;
  color: #FEFDFE;
}

.accountDiv {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37.21%;
  bottom: 21.05%;
  
  background: #225B4F;
  color: #FEFDFE;
}



/* WORLD VIEW */
#worldViewDiv {
  position: absolute;
  width: 742px;
  height: 452px;
  left: 0px;
  top: 65px;
  
  background: #478274;
}

#worldViewContainer {
  position: absolute;
  width: 710px;
  height: 412px;
  left: 16px;
  top: 85px;
  
  border: 1px solid #FEFDFE;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: auto;
}

#bodyTextCreate {
  position: absolute;
  left: 18.33%;
  right: 18.46%;
  top: 11.8%;
  bottom: 18.33%;
  font-size: 18px;
}



/* HEADINGS */

/* page title */
h1 {
  text-transform:uppercase;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 130%;
  /* background: radial-gradient(circle at center, #1C4A40, #B0EFC6); */
  background: -webkit-radial-gradient(#1C4A40, #B0EFC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* sectionTitle */
h2 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;
  text-transform: uppercase;

  background: -webkit-radial-gradient(#F48B7C, #FFB470);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* create new world section title */
h3 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;
  text-transform: uppercase;

  color: #225B4F;
}

/* create new world section subtitle */
h4 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  text-align: center;
  text-transform: uppercase;

  color: #225B4F;
}

/* caption */
h5 { 
  font-family: Caladea;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  /* padding: 0px 30px 30px 30px; */
  text-align: center;
  color: #225B4F;

}

/* nav bar */
h6 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin: 10;
  
  text-align: center;
  text-transform: uppercase;
  background: -webkit-radial-gradient(#316C60, #2EC29F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav bar logged out */
h6.loggedOut {
  background: -webkit-radial-gradient(#F48B7C, #FFB470);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

a:hover {
}



/* INPUT */

.textarea {
  height: 4em;
}

input, textarea {
  font-family: Caladea;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 300px;
  color: #beddff;
  background-color: rgba(230, 230, 250, 0);
  padding: 6px; 
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #ba8afc, #cdeafdd0, rgba(230, 230, 250, 0.075));
  border-image-slice: 60 30;
  overflow: hidden;
}

::-webkit-input-placeholder {
  color: #a3bedc;
  font-style: italic;
  font-size: 16px;
  /* wrap placeholder text */
  white-space:pre-line;  
  position:relative;
}

.dropdown {
  font-family: Caladea;
  color: #beddff;
  border: none;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.08);
  height: 30px;
}